* {
    margin: 0;
    padding: 0;
}

.blue-slide {
    background: #4390EE;
}

.red-slide {
    background: #CA4040;
}

.orange-slide {
    background: #FF8604;
}

.swiper-slide {
    line-height: 300px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.inner {
    width: 120px;

    color: #90a0b2;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 28px;
}

.inner img {
    /* width: 490px; */
    width: 345px;
    height: 290px;
}

.price {
    width: 85px;
    height: 85px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #363950;
    position: absolute;
    right: 35px;
    top: 25px;
    border-radius: 15px;
}

.section-title {
    text-align: center;
    font-size: 16px;
    color: #7d91aa;
    font-weight: 300;
    margin-bottom: 30px;
}